.wrapper
  .login-card
    .login-img
      =image_tag "polylan.png"
    .login-form
      %h3 Successful
      %h4
        = "You are patched into VLAN #{@vlan}."
      = link_to "Switch VLAN", switch_path
